.question
  .question-select
    %ul.question-header 質問したいグループは？
    %li メンタルケア
    %li 妊娠
    %li 子育て
    %li 転職
    .question-select-other
      = fa_icon "angle-right"
      他のグループを探す
  .question-header
    %p 質問したいこと
    %textarea.question-content
