.dashbord
  .dashbord-profile
    .dashbord-profile-content
      .dashbord-profile-avatar-link
        = image_tag 'alissa_miki'
      .dashbord-profile-name
        %p Alissa Miki
  .dashbord-group
    %ul.dashbord-group-header 参加グループ
    .dashbord-group-list
      %li メンタルケア
      %li 妊娠
      %li 子育て
      %li 転職
